.region {
    margin-left: 400px;
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 10px;
    float: left;
}

#cities {
    position: absolute;
}

a {
    display: block;
}