.div {
    margin-left: 400px;
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 10px;
    float: left;
}

.p {
    position: absolute;
}

/* .wrapper1 {
    margin-left: 400px;
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 10px;
    float: left;
}
.wrapper2 {
    margin-left: 400px;
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 10px;
    float: left;
}
.wrapper3 {
    margin-left: 400px;
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 10px;
    float: left;
} */